modules = ["bash", "python-3.11"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["ffmpeg", "freetype", "git", "lcms2", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "mediainfo", "neofetch", "openjpeg", "openssl", "redis", "tcl", "tk", "xcodebuild", "zlib"]
