# Important Requirements here.

telethon
telethon-patch
python-decouple
python-dotenv
aiohttp
akinator
apscheduler
beautifulsoup4
gitpython
google-api-python-client
hiredis
lxml
numpy
oauth2client
opencv-python-headless
pillow
psutil
pypdf2
python-decouple
python-dotenv
pytz
qrcode
redis
requests
tabulate
telegraph
telethon
telethon-patch
tgcrypto
youtube-search-python
yt-dlp
