# Important Requirements here.

telethon
telethon-patch
python-decouple
python-dotenv
aiohttp
akinator
apscheduler
beautifulsoup4
gitpython
google-api-python-client
hiredis
lxml
numpy
oauth2client
opencv-python-headless
pillow
psutil
pypdf2
python-decouple
python-dotenv
pytz
qrcode
redis
requests
tabulate
telegraph
telethon
telethon-patch
tgcrypto
youtube-search-python
yt-dlp
psycopg2-binary
safety
aiohttp
akinator
apscheduler
beautifulsoup4
gitpython
google-api-python-client
hiredis
lxml
numpy
oauth2client
opencv-python-headless
pillow
psutil
psycopg2-binary
pypdf2
python-decouple
python-dotenv
pytz
qrcode
redis
requests
safety
tabulate
telegraph
telethon
telethon-patch
tgcrypto
youtube-search-python
yt-dlp
aiohttp
beautifulsoup4
gitpython
google-api-python-client
opencv-python-headless
pillow
psycopg2-binary
python-decouple
python-dotenv
qrcode
redis
requests
telegraph
telethon
tgcrypto
yt-dlp
akinator
apscheduler
lxml
numpy
oauth2client
psutil
pypdf2
pytz
tabulate
telethon-patch
youtube-search-python
