# Required only for Termux deployments
# ------------------------------------------------------ #

requests 
coloredlogs 
enhancer 
pillow 
gitpython 
aiohttp 
pytz 
telegraph 
bs4 
qrcode 
yt_dlp 
pywit
googletrans
youtube-search-python  
# -------------------------------------------------------#
